<div class="flex justify-center  ">
    <div class="flex flex-col items-center justify-center">
  
        <div class="flex flex-col  max-w-7xl justify-center items-center space-y-3 w-full ">
            <div class="flex flex-col   md:items-start items-center justify-center  space-y-3 px-8 text-center ">
                <div class="text-3xl md:text-7xl font-bold ">
                    Rewrite your coding journey into a Fairy Tale</div>
            </div>
            
            <div
                class="flex flex-col lg:flex-row space-x-2 space-y-3 md:space-x-6   w-full items-center justify-center ">
  
                <div class="lg:w-40 w-64 h-40  overflow-hidden rounded-xl ">
                    <img src="https://source.unsplash.com/random/300x500/?coding
  
                    " alt="" class="" />
                </div>
                <div class="flex flex-row lg:flex-col space-x-3 space-y-6 items-center justify-center">
                    <div class="w-32 lg:w-40 h-32  overflow-hidden rounded-xl ">
                        <img src="https://source.unsplash.com/random/300x500/?computer
  
                        " alt="" class="" />
                    </div>
                    <div class="w-32 lg:w-40 h-48  overflow-hidden rounded-xl ">
                        <img src="https://source.unsplash.com/random/300x500/?success
  
                        " alt="" class="" />
                    </div>
                </div>
                <div class="lg:w-60 w-64 h-96  overflow-hidden rounded-xl ">
                    <img src="https://source.unsplash.com/random/300x500/?programing
  
                    " alt="" class="" />
                </div>
                <div class="flex flex-row lg:flex-col space-x-3 space-y-6 items-center justify-center ">
                    <div class="w-32 lg:w-40 h-48  overflow-hidden rounded-xl ">
                        <img src="https://source.unsplash.com/random/300x500/?macbook
  
                        " alt="" class="" />
                    </div>
                    <div class="w-32 lg:w-40 h-32  overflow-hidden rounded-xl ">
                        <img src="https://source.unsplash.com/random/300x500/?education
  
                        " alt="" class="" />
                    </div>
                </div>
                <div class="lg:w-40 w-64 h-40  overflow-hidden rounded-xl ">
                    <img src="https://source.unsplash.com/random/300x500/?career
  
                    " alt="" class="" />
                </div>
  
  
            </div>
  
        </div>
    </div>
  </div> 

  <div class="flex justify-center  p-6">
    <div class="flex flex-col justify-center items-center ">
        <div class=" text-2xl md:text-5xl font-medium flex my-9">
            <div>From the voice of our </div>
            <div class="text-orange-400 mx-1"> Trusted</div>
            <div>Alumni </div>
        </div>
        <div class="flex flex-col md:flex-row max-w-7xl justify-center items-center ">

            <div class="overflow-hidden w-full m-4 flex justify-center   md:w-[33%]  shadow-xl bg-orange-400">

                <div class="flex flex-col md:flex-row items-center justify-center  bg-white rounded-tl-full ">
                    <div class="  items-center justify-center flex py-2">
                        <div class="flex flex-col  items-center justify-center ">
                            <div class="flex items-center">
                                <div class="p-1 bg-white rounded-full">

                                    <img src="https://source.unsplash.com/100x100/?man,boy" alt=""
                                        class="rounded-full" />
                                </div>
                                <div>
                                    <div class="font-bold text-stone-500 mx-4">John Doe</div>
                                    <div class="text-sm font-medium text-stone-500 hover:text-stone-500 mx-4"><a
                                            href="#">Board Director of Tailblocks</a></div>
                                </div>
                            </div>
                            <div class="text-stone-400  m-2 px-8"> Tailblocks provides best Tailwind CSS Components and
                                Blocks to create an unique websites within minutes. It has upto 60+ free components for
                                front-end Web Development.</div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="overflow-hidden w-full m-4 flex justify-center   md:w-[33%]  shadow-xl bg-orange-400">

                <div class="flex flex-col md:flex-row items-center justify-center  bg-white rounded-tl-full ">
                    <div class="  items-center justify-center flex py-2">
                        <div class="flex flex-col  items-center justify-center ">
                            <div class="flex items-center">
                                <div class="p-1 bg-white rounded-full">

                                    <img src="https://source.unsplash.com/100x100/?girl" alt="" class="rounded-full" />
                                </div>
                                <div>
                                    <div class="font-bold text-stone-500 mx-4">Elina Gilbert</div>
                                    <div class="text-sm font-medium text-stone-500 hover:text-stone-500 mx-4"><a
                                            href="#">ShareHolder, Tailblocks</a></div>
                                </div>
                            </div>
                            <div class="text-stone-400  m-2 px-8"> Tailblocks provides best Tailwind CSS Components and
                                Blocks to create an unique websites within minutes. It has upto 60+ free components for
                                front-end Web Development.</div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="overflow-hidden w-full m-4 flex justify-center   md:w-[33%]  shadow-xl bg-orange-400">

                <div class="flex flex-col md:flex-row items-center justify-center  bg-white rounded-tl-full ">
                    <div class="  items-center justify-center flex py-2">
                        <div class="flex flex-col  items-center justify-center ">
                            <div class="flex items-center">
                                <div class="p-1 bg-white rounded-full">

                                    <img src="https://source.unsplash.com/100x100/?boy" alt="" class="rounded-full" />
                                </div>
                                <div>
                                    <div class="font-bold text-stone-500 mx-4">Josh Reacher</div>
                                    <div class="text-sm font-medium text-stone-500 hover:text-stone-500 mx-4"><a
                                            href="#">CEO, Tailblocks</a></div>
                                </div>
                            </div>
                            <div class="text-stone-400  m-2 px-8"> Tailblocks provides best Tailwind CSS Components and
                                Blocks to create an unique websites within minutes. It has upto 60+ free components for
                                front-end Web Development.</div>

                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>