<div class="flex justify-center  ">
    <div class="flex flex-col items-center justify-center">

        <div class="flex flex-col  max-w-7xl justify-center items-center space-y-3 w-full ">
            <div class="flex flex-col   md:items-start items-center justify-center  space-y-3 px-8 text-center ">
                <div class="text-3xl md:text-7xl font-bold ">
                    Rewrite your coding journey into a Fairy Tale</div>
            </div>

            <div
                class="flex flex-col lg:flex-row space-x-2 space-y-3 md:space-x-6   w-full items-center justify-center ">

                <div class="lg:w-40 w-64 h-40  overflow-hidden rounded-xl ">
                    <img src="https://source.unsplash.com/random/300x500/?coding
  
                    " alt="" class="" />
                </div>
                <div class="flex flex-row lg:flex-col space-x-3 space-y-6 items-center justify-center">
                    <div class="w-32 lg:w-40 h-32  overflow-hidden rounded-xl ">
                        <img src="https://source.unsplash.com/random/300x500/?computer
  
                        " alt="" class="" />
                    </div>
                    <div class="w-32 lg:w-40 h-48  overflow-hidden rounded-xl ">
                        <img src="https://source.unsplash.com/random/300x500/?success
  
                        " alt="" class="" />
                    </div>
                </div>
                <div class="lg:w-60 w-64 h-96  overflow-hidden rounded-xl ">
                    <img src="https://source.unsplash.com/random/300x500/?programing
  
                    " alt="" class="" />
                </div>
                <div class="flex flex-row lg:flex-col space-x-3 space-y-6 items-center justify-center ">
                    <div class="w-32 lg:w-40 h-48  overflow-hidden rounded-xl ">
                        <img src="https://source.unsplash.com/random/300x500/?macbook
  
                        " alt="" class="" />
                    </div>
                    <div class="w-32 lg:w-40 h-32  overflow-hidden rounded-xl ">
                        <img src="https://source.unsplash.com/random/300x500/?education
  
                        " alt="" class="" />
                    </div>
                </div>
                <div class="lg:w-40 w-64 h-40  overflow-hidden rounded-xl ">
                    <img src="https://source.unsplash.com/random/300x500/?career
  
                    " alt="" class="" />
                </div>


            </div>

        </div>
    </div>
</div>

<div
    class="flex items-center justify-center text-center bg-gradient-to-r from-orange-500 via-red-600 to-cyan-400 w-[100%]">
    <div class="flex flex-col items-center justify-center rounded-tr-full rounded-bl-full w-full bg-white">
        <div class="flex flex-col p-2 m-2 w-full">
            <div class="text-xl md:text-3xl font-medium" style="font-family: cursive; font-weight: bolder;">At a Glance</div>
            <div class="text-orange-400 mx-1" style="font-family: cursive; font-size: larger; font-weight: bolder;"> (As on 2022) </div>

            <div class="flex items-center justify-center md:flex-row flex-col space-x-4 space-y-4 p-2">
                <div class="flex-col px-6 py-2 shadow-xl rounded-2xl hover:scale-105 w-[90%] md:w-1/4">
                    <div style="flex-direction: column; padding-left: 18%;">
                        <div class="h-40 w-40 border-2 border-cyan-500 rounded-full overflow-hidden bg-gray-200">
                            <img src="https://source.unsplash.com/300x300/?girl" alt="" class="" />
                        </div>
                    </div>

                    <div style="padding-right: 19%;">
                        <div class="text-lg font-medium text-stone-600 cursor-pointer hover:text-stone-400" style="font-weight: bold; font-size: large;">
                            700 +
                        </div>
                    </div>

                    <div style="padding-right: 16%;">
                        <div class="italic text-gray-500 text-sm" style="font-size: larger; font-family: cursive; font-weight: bolder;">Projects</div>
                    </div>
                </div>
                <div class="flex-col px-6 py-2 shadow-xl rounded-2xl hover:scale-105 w-[90%] md:w-1/4">
                    <div style="flex-direction: column; padding-left: 18%;">
                        <div class="h-40 w-40 border-2 border-cyan-500 rounded-full overflow-hidden bg-gray-200">
                            <img src="https://source.unsplash.com/300x300/?girl" alt="" class="" />
                        </div>
                    </div>

                    <div style="padding-right: 19%;">
                        <div class="text-lg font-medium text-stone-600 cursor-pointer hover:text-stone-400" style="font-weight: bold; font-size: large;">
                            10
                        </div>
                    </div>

                    <div style="padding-right: 16%;">
                        <div class="italic text-gray-500 text-sm" style="font-size: larger; font-family: cursive; font-weight: bolder;">Publications</div>
                    </div>
                </div>
                <div class="flex-col px-6 py-2 shadow-xl rounded-2xl hover:scale-105 w-[90%] md:w-1/4">
                    <div style="flex-direction: column; padding-left: 18%;">
                        <div class="h-40 w-40 border-2 border-cyan-500 rounded-full overflow-hidden bg-gray-200">
                            <img src="https://source.unsplash.com/300x300/?girl" alt="" class="" />
                        </div>
                    </div>

                    <div style="padding-right: 19%;">
                        <div class="text-lg font-medium text-stone-600 cursor-pointer hover:text-stone-400" style="font-weight: bold; font-size: large;">
                            10,000 +
                        </div>
                    </div>

                    <div style="padding-right: 16%;">
                        <div class="italic text-gray-500 text-sm" style="font-size: larger; font-family: cursive; font-weight: bolder;">Students</div>
                    </div>
                </div>
                <div class="flex-col px-6 py-2 shadow-xl rounded-2xl hover:scale-105 w-[90%] md:w-1/4">
                    <div style="flex-direction: column; padding-left: 18%;">
                        <div class="h-40 w-40 border-2 border-cyan-500 rounded-full overflow-hidden bg-gray-200">
                            <img src="https://source.unsplash.com/300x300/?girl" alt="" class="" />
                        </div>
                    </div>

                    <div style="padding-right: 19%;">
                        <div class="text-lg font-medium text-stone-600 cursor-pointer hover:text-stone-400" style="font-weight: bold; font-size: large;">
                            50 +
                        </div>
                    </div>

                    <div style="padding-right: 16%;">
                        <div class="italic text-gray-500 text-sm" style="font-size: larger; font-family: cursive; font-weight: bolder;">Faculties</div>
                    </div>
                </div>
                <div class="flex-col px-6 py-2 shadow-xl rounded-2xl hover:scale-105 w-[90%] md:w-1/4">
                    <div style="flex-direction: column; padding-left: 18%;">
                        <div class="h-40 w-40 border-2 border-cyan-500 rounded-full overflow-hidden bg-gray-200">
                            <img src="https://source.unsplash.com/300x300/?girl" alt="" class="" />
                        </div>
                    </div>

                    <div style="padding-right: 19%;">
                        <div class="text-lg font-medium text-stone-600 cursor-pointer hover:text-stone-400" style="font-weight: bold; font-size: large;">
                            20 +
                        </div>
                    </div>

                    <div style="padding-right: 16%;">
                        <div class="italic text-gray-500 text-sm" style="font-size: larger; font-family: cursive; font-weight: bolder;">Non-Teaching Staff</div>
                    </div>
                </div>
                <!-- <div class="flex-col px-6 py-2 shadow-xl rounded-2xl hover:scale-105 w-[90%] md:w-1/4">
                    <div class="h-40 w-40 border-2 border-cyan-500 rounded-full overflow-hidden bg-gray-200">
                        <img src="https://source.unsplash.com/300x300/?man,businessman" alt="" class="" />
                    </div>

                    <div class="text-lg font-medium text-stone-600 cursor-pointer hover:text-stone-400">
                        John Doe
                    </div>
                    <div class="italic text-gray-500 text-sm">CEO, Tailblocks</div>
                    <div class="flex my-2">
                        <a href="#"
                            class="w-9 h-9 rounded-full border-cyan-500 border text-stone-500 hover:bg-cyan-500 hover:text-white mx-1 pt-1 inline-block"><i
                                class="fa fa-twitter"></i></a>
                        <a href="#"
                            class="w-9 h-9 rounded-full border-cyan-500 border text-stone-500 hover:bg-cyan-500 hover:text-white mx-1 pt-1 inline-block"><i
                                class="fa fa-instagram"></i></a>
                        <a href="#"
                            class="w-9 h-9 rounded-full border-cyan-500 border text-stone-500 hover:bg-cyan-500 hover:text-white mx-1 pt-1 inline-block"><i
                                class="fa fa-facebook"></i></a>
                        <a href="#"
                            class="w-9 h-9 rounded-full border-cyan-500 border text-stone-500 hover:bg-cyan-500 hover:text-white mx-1 pt-1 inline-block"><i
                                class="fa fa-linkedin"></i></a>
                    </div>
                </div> -->
                <!-- <div class="flex-col px-6 py-2 shadow-xl rounded-2xl hover:scale-105 w-[90%] md:w-1/4">
                    <div class="h-40 w-40 border-2 border-cyan-500 rounded-full overflow-hidden bg-gray-200">
                        <img src="https://source.unsplash.com/300x300/?girl,woman" alt="" class="" />
                    </div>

                    <div class="text-lg font-medium text-stone-600 cursor-pointer hover:text-stone-400">
                        Rebbeca
                    </div>
                    <div class="italic text-gray-500 text-sm">SEO Analyst</div>
                    <div class="flex my-2">
                        <a href="#"
                            class="w-9 h-9 rounded-full border-cyan-500 border text-stone-500 hover:bg-cyan-500 hover:text-white mx-1 pt-1 inline-block"><i
                                class="fa fa-twitter"></i></a>
                        <a href="#"
                            class="w-9 h-9 rounded-full border-cyan-500 border text-stone-500 hover:bg-cyan-500 hover:text-white mx-1 pt-1 inline-block"><i
                                class="fa fa-instagram"></i></a>
                        <a href="#"
                            class="w-9 h-9 rounded-full border-cyan-500 border text-stone-500 hover:bg-cyan-500 hover:text-white mx-1 pt-1 inline-block"><i
                                class="fa fa-facebook"></i></a>
                        <a href="#"
                            class="w-9 h-9 rounded-full border-cyan-500 border text-stone-500 hover:bg-cyan-500 hover:text-white mx-1 pt-1 inline-block"><i
                                class="fa fa-linkedin"></i></a>
                    </div>
                </div> -->
                <!-- <div class="flex-col px-6 py-2 shadow-xl rounded-2xl hover:scale-105 w-[90%] md:w-1/4">
                    <div class="h-40 w-40 border-2 border-cyan-500 rounded-full overflow-hidden bg-gray-200">
                        <img src="https://source.unsplash.com/300x300/?man,boy" alt="" class="" />
                    </div>

                    <div class="text-lg font-medium text-stone-600 cursor-pointer hover:text-stone-400">
                        Reacher
                    </div>
                    <div class="italic text-gray-500 text-sm">Manager</div>
                    <div class="flex my-2">
                        <a href="#"
                            class="w-9 h-9 rounded-full border-cyan-500 border text-stone-500 hover:bg-cyan-500 hover:text-white mx-1 pt-1 inline-block"><i
                                class="fa fa-twitter"></i></a>
                        <a href="#"
                            class="w-9 h-9 rounded-full border-cyan-500 border text-stone-500 hover:bg-cyan-500 hover:text-white mx-1 pt-1 inline-block"><i
                                class="fa fa-instagram"></i></a>
                        <a href="#"
                            class="w-9 h-9 rounded-full border-cyan-500 border text-stone-500 hover:bg-cyan-500 hover:text-white mx-1 pt-1 inline-block"><i
                                class="fa fa-facebook"></i></a>
                        <a href="#"
                            class="w-9 h-9 rounded-full border-cyan-500 border text-stone-500 hover:bg-cyan-500 hover:text-white mx-1 pt-1 inline-block"><i
                                class="fa fa-linkedin"></i></a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>


<div class="flex justify-center  p-6">
    <div class="flex flex-col justify-center items-center ">
        <div class=" text-2xl md:text-5xl font-medium flex my-9">
            <div>From the voice of our </div>
            <div class="text-orange-400 mx-1"> Trusted</div>
            <div>Alumni </div>
        </div>
        <div class="flex flex-col md:flex-row max-w-7xl justify-center items-center ">

            <div class="overflow-hidden w-full m-4 flex justify-center   md:w-[33%]  shadow-xl bg-orange-400">

                <div class="flex flex-col md:flex-row items-center justify-center  bg-white rounded-tl-full ">
                    <div class="  items-center justify-center flex py-2">
                        <div class="flex flex-col  items-center justify-center ">
                            <div class="flex items-center">
                                <div class="p-1 bg-white rounded-full">

                                    <img src="https://source.unsplash.com/100x100/?man,boy" alt=""
                                        class="rounded-full" />
                                </div>
                                <div>
                                    <div class="font-bold text-stone-500 mx-4">Smruti Ranjan Nayak</div>
                                    <div class="text-sm font-medium text-gray-500 hover:text-stone-500 mx-4">Software Developer</div>
                                </div>
                            </div>
                            <div class="text-stone-400  m-2 px-8"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, consequuntur ullam ratione beatae maxime exercitationem ipsum ipsam veniam est quos. Eligendi a pariatur enim corporis at rem suscipit qui totam.</div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="overflow-hidden w-full m-4 flex justify-center   md:w-[33%]  shadow-xl bg-orange-400">

                <div class="flex flex-col md:flex-row items-center justify-center  bg-white rounded-tl-full ">
                    <div class="  items-center justify-center flex py-2">
                        <div class="flex flex-col  items-center justify-center ">
                            <div class="flex items-center">
                                <div class="p-1 bg-white rounded-full">

                                    <img src="https://source.unsplash.com/100x100/?girl" alt="" class="rounded-full" />
                                </div>
                                <div>
                                    <div class="font-bold text-stone-500 mx-4">Abhijit Kumar</div>
                                    <div class="text-sm font-medium text-gray-500 hover:text-stone-500 mx-4">Cloud Engineer, Microsoft Azure</div>
                                </div>
                            </div>
                            <div class="text-stone-400  m-2 px-8"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit a ad neque rerum iste praesentium officia repellendus. Obcaecati dolor alias, eligendi consectetur corporis doloribus iure tenetur. Veritatis vero mollitia quod!</div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="overflow-hidden w-full m-4 flex justify-center   md:w-[33%]  shadow-xl bg-orange-400">

                <div class="flex flex-col md:flex-row items-center justify-center  bg-white rounded-tl-full ">
                    <div class="  items-center justify-center flex py-2">
                        <div class="flex flex-col  items-center justify-center ">
                            <div class="flex items-center">
                                <div class="p-1 bg-white rounded-full">

                                    <img src="https://source.unsplash.com/100x100/?boy" alt="" class="rounded-full" />
                                </div>
                                <div>
                                    <div class="font-bold text-stone-500 mx-4">Josh Reacher</div>
                                    <div class="text-sm font-medium text-gray-500 hover:text-stone-500 mx-4">CEO,
                                        Juvenilia Technology</div>
                                </div>
                            </div>
                            <div class="text-stone-500  m-2 px-8"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam veniam iste cumque totam numquam eos, minus voluptatibus qui exercitationem eligendi maiores nostrum obcaecati assumenda et hic voluptatem illum atque soluta.
                            </div>

                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>