<div class="flex flex-col justify-center items-center ">
    <div class=" text-2xl md:text-5xl font-medium flex my-9">
        <div>Your </div>
        <div class="text-orange-400 mx-1"> Destination </div>
        <div>is waiting for you </div>
    </div>
</div>    
<div class="flex justify-center mb-7">
    <div class="flex md:flex-row flex-col justify-center max-w-7xl m-4 ">
        <div class="lg:w-1/2 bg-black ">
            <div class="flex justify-center flex-col items-center">
                <div class="text-white m-6 text-xl z-200"> Contact Us </div>
                <div class="text-white m-6 z-200"> We are always here to help out whatever way we can :) </div>
                <div class="text-white m-6 z-200">
                    <form>
                    <div class="flex m-2">
                         <input placeholder="Name"
                            class="bg-gray-800 p-2 rounded-3xl">
                    </div>
                    <div class="flex m-2">
                       <input placeholder="E-mail"
                            class="bg-gray-800 p-2 rounded-3xl">
                    </div>
                    <div class="flex m-2">
                       <input placeholder="Phone"
                            class="bg-gray-800 p-2 rounded-3xl">
                    </div>
                    <div class="flex m-2">
                         <input
                            placeholder="Type your message" class="bg-gray-800 p-2 rounded-3xl">
                    </div>
                    <div class="block m-2justify-center">
                        <div class="bg-blue-700 p-2 rounded-3xl hover:bg-blue-800 cursor-pointer ">
                            <div class="flex justify-center"> Send </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="w-3/4 lg:w-2/3 ">
            <div class="w-3/4 lg:w-1/2 overflow-contain h-min"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.113391754361!2d85.84315641539526!3d20.295573117777018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1909f824f14cd9%3A0x2f96016f90da1ab8!2sJava%20Technocrat%20%7C%20Best%20Java%20Training%20Institute%20In%20Bhubaneswar!5e0!3m2!1sen!2sin!4v1679040791021!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 