<div class="flex flex-col justify-center items-center ">
    <div class=" text-2xl md:text-5xl font-medium flex my-9">
        <div>About </div>
        <div class="text-orange-400 mx-1"> Rashmi </div>
        <div>Sir </div>
    </div>
</div> 

<div class="flex justify-center ">
    <div class="flex flex-col justify-center items-center">
        <div class="flex flex-col md:flex-row max-w-7xl justify-center items-center ">

            <div class="overflow-hidden w-2/3 m-4 flex justify-center ">

                <div class="flex  items-center justify-center  ">
                    <div class="  items-center justify-center flex flex-col lg:flex-row ">
                        <div class="flex items-center justify-around h-60  w-full lg:text-left text-center">
                                <div class="flex flex-col md:flex-row items-center  ">
                                        <img src="https://source.unsplash.com/100x100/?man,boy" alt=""
                                            class="rounded-full" />
                                    <div>
                                        <div class="font-bold text-orange-500 mx-4">Rashmikant Das</div>
                                        <!-- <div class="text-xl md:text-3xl text-orange-500 font-bold uppercase">Rashmikant Das</div> -->
                                        <div class="text-sm font-medium text-gray-500 mx-4 hover:text-yellow-300 cursor-pointer">CEO, Juvenilia Technology</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-gray-600 text-xl font-medium lg:text-left text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus adipisci eum facilis recusandae quam reprehenderit commodi maxime cum dolore consectetur dolorem error nisi nemo reiciendis aperiam, voluptatibus vitae iste?</div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="flex justify-center ">
    <div class="flex flex-col justify-center  my-10 w-[90%] space-y-28 lg:space-y-24 max-w-7xl">
        <div class="flex flex-col justify-center items-center ">
            <!-- <div class="text-xl md:text-3xl text-orange-500 font-bold uppercase">testimonials</div> -->
            <div class=" text-2xl md:text-5xl font-medium flex my-9" style="padding: 3%;">
                <div>Some Publications of </div>
                <div class="text-orange-400 mx-1" style="float: right;"> Rashmi Sir</div>
                </div>

            </div>
            <!-- <div class="border-b-4 border-orange-500 mt-2" style="padding-top: 2%;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div> -->

        <div class="flex flex-col justify-center items-center lg:flex-row space-y-28 lg:space-y-0  lg:space-x-10" style="padding: 3%;">
            <div class="bg-slate-200 shadow-lg flex flex-col justify-center items-center py-4 h-56 md:w-[80%] lg:w-fit">
                <div class="-mt-20 ">
                    <img src="https://source.unsplash.com/150x150/?man" class="rounded-full " alt="">
                </div>
                <div class="flex flex-col lg:flex-row justify-center text-center lg:space-x-3">
                    <h1 class="text-orange-500 text-lg font-semibold">Core Java</h1>
                    <p class="text-black text-sm lg:mt-[5px]">For Beginners</p>
                </div>
                <p class="text-center text-sm p-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis delectus soluta veniam, praesentium totam eaque, nesciunt, iusto consequuntur in aliquid fugit. Nihil cum voluptates soluta, optio labore explicabo id animi!</p>
            </div>
            <div
                class="bg-slate-200 shadow-lg flex flex-col justify-center items-center py-4 h-56 md:w-[80%] lg:w-fit">
                <div class="-mt-20 ">
                    <img src="https://source.unsplash.com/150x150/?woman" class="rounded-full " alt="">
                </div>
                <div class="flex flex-col lg:flex-row justify-center text-center lg:space-x-3">
                    <h1 class="text-orange-500 text-lg font-semibold">How to crack</h1>
                    <p class="text-black text-sm lg:mt-[5px]">Interviews in Java</p>
                </div>
                <p class="text-center text-sm p-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ipsa eveniet sequi perspiciatis quod porro mollitia eius laboriosam? Fugit quod reprehenderit beatae qui voluptates sequi tenetur blanditiis at dolorum laborum?</p>
            </div>
            <div
                class="bg-slate-200 shadow-lg flex flex-col justify-center items-center py-4 h-56 md:w-[80%] lg:w-fit">
                <div class="-mt-20 ">
                    <img src="https://source.unsplash.com/150x150/?girl" class="rounded-full " alt="">
                </div>
                <div class="flex flex-col lg:flex-row justify-center text-center lg:space-x-3">
                    <h1 class="text-orange-500 text-lg font-semibold">Advance Java</h1>
                    <p class="text-black text-sm lg:mt-[5px]">For Beginners</p>
                </div>
                <p class="text-center text-sm p-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ipsa eveniet sequi perspiciatis quod porro mollitia eius laboriosam? Fugit quod reprehenderit beatae qui voluptates sequi tenetur blanditiis at dolorum laborum?</p>
            </div>

        </div>
    </div>
</div>